@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gry do Przejścia</h1>
    <p>To jest strona pozwalająca mi zebrać listę gier do przejścia.</p>
    <div style="height:500px;"></div>
    <h5>Dokumentacja ASP.NET Core</h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
