@page
@model GryDoPrzejscia.Pages.GamesList.EditModel

@{
    ViewData["Title"] = "Edytuj dane";
}
<h1>Edytuj dane</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="GameList.Id" />
            <div class="mb-3">
                <label asp-for="GameList.Name" class="control-label"></label>
                <input asp-for="GameList.Name" class="form-control" />
                <span asp-validation-for="GameList.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="GameList.Launcher" class="control-label"></label>
                <select asp-for="GameList.Launcher" class="form-control">
                    <option value="">Wybierz z listy...</option>
                    <option value="Amazon">Amazon</option>
                    <option value="EA_App">EA App</option>
                    <option value="Epic">Epic</option>
                    <option value="GOG">GOG</option>
                    <option value="Płyta">Płyta</option>
                    <option value="Steam">Steam</option>
                    <option value="Uplay">Uplay</option>
                </select>
                <span asp-validation-for="GameList.Launcher" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GameList.isPlayed" /> Przechodzę
                </label>
            </div>
            <div class="mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GameList.isFinished" /> Skończyłem
                </label>
            </div>
            <div class="form-group">                               
            </div>            
            <div>
                <button type="submit" class="btn btn-primary" style="width: auto; height: auto">Update</button>
                <a asp-page="./Index" class="btn btn-secondary" style="width: auto; height: auto">Wróć do listy gier</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
